{% extends "base.twig" %}
{% import "macros/forms.twig" as forms %}

{% block title %}Audifan.net - Tickets - Create a New Ticket{% endblock %}

{% block pagetitle %}<a href="/tickets/">Tickets</a>: Create a New Ticket{% endblock %}

{% block head %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <style>
        .g-recaptcha > div > div {
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
            {% if ticketFinished %}
                <div class="_center">
                    <a href="/tickets/view/{{ ticketId }}-{{ ticketHash }}/">View your ticket here</a>.
                </div>
            {% else %}
                <div class="_center" style="margin-bottom:10px;">
                    {% if GLOBAL.user.isLoggedIn() %}
                        Only the "Ticket Details" field is required.
                    {% else %}
                        Only the "Email Address" and "Ticket Details" fields are required.
                    {% endif %}
                </div>
                {{ forms.start("/tickets/new/") }}
                <div style="margin-bottom:5px;">
                    <b>Audifan Nickname:</b> 
                    {% if GLOBAL.user.isLoggedIn() %}
                        {{ GLOBAL.user.getNickname() }}
                    {% else %}
                        {{ forms.textField("nickname", nickname) }}
                    {% endif %}
                </div>
                <div style="margin-bottom:5px;"><b>Email Address:</b> {{ forms.textField("email", email) }}</div>
                <div style="margin-bottom:5px;"><b>Ticket Title:</b> {{ forms.textField("title", title) }}</div>
                <div style="margin-bottom:5px;">
                    <div style="margin-bottom:3px;"><b>Ticket Details:</b></div>
                    <textarea name="body" class="prettyinputtext" required="required" style="width:100%; height:150px; resize:vertical;">{{ body }}</textarea>
                </div>
                <div class="_center">
                    <div style="margin-bottom:5px;">
                        <div class="g-recaptcha" data-sitekey="6LeKtv8SAAAAALdlzFzrCggUh-1W0g1lpogQHFHn"></div>
                    </div>
                    {{ forms.submit("submit_ticket", "Submit Ticket") }}
                </div>
                {{ forms.end() }}
            {% endif %}
        </div>
    </div>
{% endblock %}