{% extends "base.twig" %}

{% block head %}
    <style>
        #newstable tr td.newsdate {
            width: 75px;
            text-align: center;
        }

        #newstable tr td.newscategory {
            width: 125px;
            font-weight: bold;
            text-align: center;
        }

        #newsscroller {
            margin: auto;
        }

        a.onlineadmin {
            color: #9999aa;
            font-style: italic;
        }

        a.onlinevip {
            color: #FFFF00;
            font-weight: bold;
            font-size: 1.2em;
        }

        a.onlinecandle {
            color: #25ff00;
            font-weight: bold;
            font-size: 1.1em;
        }

        a.onlineadmin:hover, a.onlinevip:hover, a.onlinecandle:hover {
            color: #ffffff;
        }

        .feednotiftime {
            font-size: .8em;
            font-style: italic;
        }

        .feedpost {
            background-color: #{{ GLOBAL.theme.colors.darkerhighlight }};
            padding: 5px;
            margin-bottom: 10px;
            margin-right: 5px;
        }

        .feedpost:last-child {
            margin-bottom: 0px;
        }

        .feedpostnames {
            vertical-align: middle;
        }

        .feedname {
            font-size: 1.1em;
            font-weight: bold;
            vertical-align: middle;
        }

        .feednamearrow {
            font-size: 1.3em;
            vertical-align: middle;
        }

        .feedcontent {
            margin-top: 5px;
            margin-left: 7px;
            margin-bottom: 5px;
            clear: both; /* clear postpic floating */
            min-height: 50px;
        }

        .feedcontentlinks {
            text-align: center;
            font-size: .8em;
            vertical-align: middle;
        }

        .feedcontentlinks span {
            vertical-align: middle;
            margin: 0px 4px;
        }

        .feedcontentlinks span img {
            vertical-align: middle;
            margin-right: 1px;
        }
        
        .feedpostpic {
            float: left;
            max-height: 50px;
            max-width: 50px;
            margin-right: 5px;
        }
        
        .feedbadges {
            min-height: 32px;
        }
        
        #feedpostcontainer {
            height: 1000px;
            overflow-y: auto;
        }
        
        #expandfeedcontainer {
            margin-top: 7px;
            padding: 5px;
            text-align: center;
            background-color: #{{ GLOBAL.theme.colors.darkerhighlight }};
            cursor: pointer;
        }
        
        #expandfeedtext {
            font-size: 12pt;
        }
    </style>
    <script type="text/javascript" src="{{ GLOBAL.staticUrl }}/js/kemuvi.newsscroller.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#newsscroller").newsscroller({
                changeDelay: 10000,
                width: 416,
                height: 200,
                items: [
                    {
                        image: "{{ GLOBAL.staticUrl }}/img/newsscroller/help.png",
                        link: "/help/"
                    },
                    {
                        image: "{{ GLOBAL.staticUrl }}/img/newsscroller/vipdrawingback.jpg",
                        link: "/community/vipdrawing/"
                    },
                    {
                        image: "{{ GLOBAL.staticUrl }}/img/newsscroller/quests.png",
                        link: "/quests/"
                    },
                    {
                        image: "{{ GLOBAL.staticUrl }}/img/newsscroller/gardentimer2.jpg",
                        link: "/community/gardentimer/"
                    },
                    {
                        image: "{{ GLOBAL.staticUrl }}/img/newsscroller/welcome.png"
                    }
                ]
            });

            $("#hidenewsbutton").click(function (e) {
                if ($("#hidenewsbutton").hasClass("hidden")) {
                    $("#newscontent").fadeIn("fast");
                    $("#newscol").animate({
                        "width": "490px"
                    }, "fast");
                    $("#feedcol").animate({
                        "width": "490px"
                    }, "fast");
                    $("#hidenewsbutton").html("&lt; Hide News");
                    $("#hidenewsbutton").removeClass("hidden");
                } else {
                    $("#newscontent").fadeOut("fast");
                    $("#newscol").animate({
                        "width": "150px"
                    }, "fast");
                    $("#feedcol").animate({
                        "width": "825px"
                    }, "fast");
                    $("#hidenewsbutton").html("Show News &gt;");
                    $("#hidenewsbutton").addClass("hidden");
                }
            });
            
            $("#expandfeedcontainer").click(function() {
                if ($("#feedpostcontainer").hasClass("expanded")) {
                    $("#feedpostcontainer").animate({
                        "height": "1000px"
                    });
                    $("#expandfeedtext").html("Expand Feed");
                    $("#feedpostcontainer").removeClass("expanded");
                } else {
                    var height = $("#feedpostcontainer")[0].scrollHeight;
                    $("#feedpostcontainer").animate({
                        "height": height+"px"
                    });
                    $("#expandfeedtext").html("Contract Feed");
                    $("#feedpostcontainer").addClass("expanded");
                }
            });
        });

        function deleteNotif(id) {
            _.ajax({deleteNotif: id}, null, function (d) {
                $("#mynotif_" + d.id).fadeOut("fast", "swing", function () {
                    $("#mynotif_" + d.id).remove();
                });
            });
        }

        function newsScrollerForward() {
            clearInterval($.newsscroller_interval);
            $.newsscroller_interval = setInterval($.newsscrollertick, 10000 + 1000);
            $.newsscrollertick();
        }
    </script>
{% endblock %}

{% block body %}
    <div id="fb-root"></div>

    {% if GLOBAL.user.isLoggedIn() %}
        {% include "index_loggedin.twig" %}
    {% else %}
        {% include "index_loggedout.twig" %}
    {% endif %}
{% endblock %}