{% extends "base.twig" %}

{% block title %}Audifan.net - Message Boards - {{ boardInfo.board_name }}{% endblock %}

{% block pagetitle %}{{ boardInfo.board_name }}{% endblock %}

{% block head %}
    <style>
        .topic {
            padding: 5px;
            margin-bottom: 15px;
        }
        
        .topic:last-child {
            margin-bottom: 0px;
        }
        
        .topictitle {
            font-size: 14pt;
        }
        
        .topictimes {
            margin-left: 20px;
        }
        
        .topicfirstpost {
            font-size: 8pt;
        }
        
        .topiclatestpost {
            font-size: 8pt;
            font-style: italic;
        }
        
        .topicbodypreview {
            margin-top: 3px;
            margin-bottom: 3px;
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
            <div style="margin-bottom:10px;">
                <a href="/community/boards/">Message Boards</a> &gt; {{ boardInfo.board_name }}
            </div>
            <div class="_right" style="margin-bottom:10px;">
                <a href="/community/boards/newtopic/{{ boardInfo.board_id }}/">Post a New Topic</a>
            </div>
                {% for t in topics %}
                    <div class="sectionwrapper">
                        <div class="topictitle"><a href="/community/boards/topic/{{ t.topic_id }}-{{ t.topic_name|urlizeText }}/">{{ t.topic_name }}</a></div>
                        <div class="topicbodypreview">
                            "{% if t.first_post_body|length > 100 %}{{ t.first_post_body|slice(0, 100) }}...{% else %}{{ t.first_post_body }}{% endif %}"
                        </div>
                        <div class="topictimes">
                            <div class="topicfirstpost">Started {{ t.first_post_time|relativeTime }} ago by <a href="/community/profile/{{ t.first_post_account }}/">{{ t.first_display_name }}</a>.</div>
                            <div class="topiclatestpost">Topic has {{ t.total_posts - 1 }} repl{{ (t.total_posts - 1)|pluralize("y", "ies") }}. {% if t.first_post_id != t.latest_post_id %}<a href="/community/boards/topic/{{ t.topic_id }}-{{ t.topic_name|urlizeText }}/?page={{ (t.total_posts/15)|round(0, "ceil") }}&post={{ t.latest_post_id }}">Latest post</a> was {{ t.latest_post_time|relativeTime }} ago by <a href="/community/profile/{{ t.latest_post_account }}/">{{ t.latest_display_name }}</a>.{% endif %}</div>
                        </div>
                    </div>
                {% else %}
                    <div class="_center">No topics are in this board or they are not visible.</div>
                {% endfor %}
        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}