<b>Version:</b> 10069<br>
<ol>
<li>The Fiery Concert (Guitar Mode)</li>
	<ul>
	<li><b>Basic Gameplay</b></li>
		<ul>
		<li>There are 4 song difficulty levels: Easy, Normal, Hard, and Crazy. Easy and Normal use basic notes, Hard and Crazy use a mix of basic and 8 key notes.</li>
		<li>Hold the Z, X, C, and/or V buttons for basic notes.</li>
		<li>Hold the M, <, >, and/or ? buttons for 8 key (red) notes.</li>
		<li>When the notes reach the judgment area, press the right-hand shift button.</li>
		<li>Hammering Notes look larger compared to the others:<br>
			<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/autonote.png"><br>
			You do not need to press shift with these notes.</li>
		<li>While playing, you will receive "spark," which represent your combo.
		</ul>
	<li><b>Bonus Spark Opportunities</b></li>
		<ul>
		<li>Swing Ranges<br>
			<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/swingrange.png"><br>
			By pressing the Up Arrow key while in this range, all subsequent notes that you hit in that range will give you triple sparks.</li>
		<li>Band Notes<br>
			<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bandnote.png"><br>
			By holding either the spacebar or the right-hand ctrl button in addition to pressing shift, you will receive double score and sparks.</li>
		<li>Note: If you fail to hit any of these bonuses, you will not miss.  You simply will not receive the bonus.</li>
		</ul>
	<li><b>FlameOut</b> - <img src="{{ GLOBAL.staticUrl }}/img/patchinfo/flameout.png" style="vertical-align:middle;"></li>
		<ul>
		<li>Every successful note will charge the FlameOut gauge.  The FlameOut gauge is found along both sides of the note window.</li>
		<li>When it is filled, you will see this:<br>
			<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/theflamemaxout.png"><br>
			You can activate FlameOut by pressing the Delete key. During FlameOut, all notes will turn into 8 key notes.</li>
		<li>If you miss or incorrectly hit a note during FlameOut, you will not lose your spark.</li>
		<li>You can tell when FlameOut is going to expire from the emptying gauge as well as from the flashing judgment area. After FlameOut expires, you will not lose your spark for a short period as notes revert back to basic notes.
		</ul>
	<li><b>Judgment Adjustment</b> - You can adjust the judgment offset by pressing F11 before the game starts.</li>
	</ul>
<li>5 New Songs</li>
	<ul>
	<li>Audition - Dancing Queen (140 bpm)</li>
	<li>Audition - Fly High (Easy) (81 bpm)</li>
	<li>Audition - Fly High (Hard) (162 bpm)</li>
	<li>DiRTY RADiO - My Heart (127 bpm)</li>
	<li>Kelsey Maree - It's Love (133 bpm)</li>
	<li>Vivian Green - Too Intense (124 bpm)</li>
	</ul>
<li>7 New Guitar Songs</li>
	<ul>
	<li>Audition - Dancing Queen (140 bpm) [Easy, Normal, Hard, Crazy]</li>
	<li>Audition - December (100 bpm) [Easy, Normal, Hard]</li>
	<li>Audition - Fly High (162 bpm) [Easy, Normal, Hard]</li>
	<li>Audition - Kiss Kiss (125 bpm) [Easy, Normal, Hard]</li>
	<li>Audition - Maybe... (Vocal ver.) (112 bpm) [Easy, Normal, Hard]</li>
	<li>Audition - Wedding Day (130 bpm) [Easy, Normal, Hard]</li>
	<li>Audition - You Are the Sunshine of My Life (92 bpm) [Easy, Normal, Hard]</li>
	</ul>
<li>109 New Items</li>
	<ul>
	<li>61 Womens Items</li>
	<li>39 Mens Items</li>
	<li>3 Faces</li>
	<li>4 Motions</li>
	<li>2 Guitars</li>
	</ul>
</ol>