<b>Version:</b> 10102<br>
<ol>
<li>Chance System Extension</li>
	<ul>
	<li>3 new types of chance added. Only normal modes that do not have a freestyle component and have regular (reverse) chance enabled have these new types of chance enabled (Choreography - 4 Keys, Expert, & 8 Keys, Choreography - C - 4 Keys & 8 Keys, and Crazy 9, as well as the team versions of these modes, along with Couple Dance - 4 Keys, Expert, & 8 Keys, and Couple Dance 31 Hearts - 4 Keys & 8 Keys).</li>
	<li>Double Chance</li>
		<ul>
		<li>Double chance will double random keys in a move. The doubled keys appear yellow. Hit the yellow keys normally.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/doublechance.png" /></li>
		</ul>
	<li>Bomb Chance</li>
		<ul>
		<li>Bomb chance will add bomb keys to a move. When keying the move, skip over the bombs and only enter the arrows.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bombchance.png" /></li>
		<li>If you hit a bomb, the move will disappear.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bombchancedetonate.png" /></li>
		</ul>
	<li>Perfect Chance</li>
		<ul>
		<li>Perfect chance will complete keys at the end of a move, thus giving you fewer keys to complete.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/perfectchance.png" /></li>
		<li>If you get a perfect, the amount of keys that will auto-complete at the end increases by 1, up to 3. A great will keep the amount the same. Cools will decrease the amount by 1, bads by 2, and misses by 3.</li>
		<li>Chance level cannot be customized for this mode.</li>
		<li>The one chance note in Finish Moves is removed.</li>
		</ul>
	<li>The old chance method (with red keys) is now called Reverse Chance and is the default. Change chance type at the top of a room, above the chance level selector.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/chanceselector.png" /></li>
	<li>Dynamic Chance is now available in ALL modes that support chance.  Additionally, Crazy 9 can now have any chance level, instead of being limited to only Dynamic Chance or no chance at all.</li>
	<li>The amount of chance keys (chance level) in a move determines the amount of bonus points given:</li>
		<ul>
		<li>Level 1 Chance: +20%</li>
		<li>Level 2 Chance: +35%</li>
		<li>Level 3 Chance: +50%</li>
		<li>Level 4 Chance: +65%</li>
		<li>Level 5 Chance: +80%</li>
		<li>Level 6 Chance: +95%</li>
		</ul>
	<li>Bonus points are given based on each move.  If you're using Level 3 Chance throughout, every move will give +50% more points.  If you're using Random Chance, the bonus will depend on how many chance arrows were given.  For example, you may only get 1 chance arrow in your first move and 5 in the next. The first move would give +20% more points and the second would give +80%. The same principle applies to Dynamic Chance and Free Chance.</li>
	</ul>
<li>Matching Card</li>
	<ul>
	<li>Matching Card is a mini profile where you can specify your age, blood type, favorite single and team mode, the region in which you live, main Audition server, favorite part of Audition, and favorite hobby.</li>
	<li>If someone's card matches yours by at least 50%, their male/female icon will change in the lobby.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/matchingcardmatchbg.png" /></li>
	<li>From the Server & Channel screen, mousing over a channel will show you the average percent of cards that match yours in that channel for both males and females.</li>
	<li>You can view someone's matching card by right-clicking them and selecting "Compare Matching Card."</li>
	<li>To modify your card, click the button on the Server & Channel screen. You can view your own from inside a room or by clicking the button on "My Info" in the lobby, but when you click the edit button, it will take you back to the Server & Channel screen.</li>
	<li>In a room, you can click the "Check Matching User" button to see who matches you by at least 50%. If someone does, it will say so.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/matchingcardmatch.png" /></li>
	</ul>
<li>New Dance Moves</li>
	<ul>
	<li>New level 10 and 11 moves added.</li>
	</ul>
<li>7 New Songs</li>
	<ul>
	<li>Addis aka Raptile - Disco (feat. FYI) (130 bpm)</li>
	<li>Amo - Amelia (114 bpm)</li>
	<li>Braille - The IV (93 bpm)</li>
	<li>Divalola - Wallflower (122 bpm)</li>
	<li>Eminent Pulse - Surrender (130 bpm)</li>
	<li>MJ&iRok - Yeah! (128 bpm)</li>
	<li>Thrill Kill - Night Skys (original mix) (121 bpm)</li>
	</ul>
<li>3 New Night Dance Songs</li>
	<ul>
	<li>Addis aka Raptile - Disco (feat. FYI) (130 bpm)</li>
	<li>Divalola - Wallflower (122 bpm)</li>
	<li>Thrill Kill - Night Skys (original mix) (121 bpm)</li>
	</ul>
<li>7 New Beat Up Songs</li>
	<ul>
	<li>Addis aka Raptile - Disco (feat. FYI) (130 bpm) [Lv. 3]</li>
	<li>Amo - Amelia (114 bpm) [Lv. 2]</li>
	<li>Braille - The IV (93 bpm) [Lv. 2]</li>
	<li>Divalola - Wallflower (122 bpm) [Lv. 2]</li>
	<li>Eminent Pulse - Surrender (130 bpm) [Lv. 2]</li>
	<li>MJ&iRok - Yeah! (128 bpm) [Lv. 2]</li>
	<li>Thrill Kill - Night Skys (original mix) (121 bpm) [Lv. 2]</li>
	</ul>
<li>7 New One Two Party Songs</li>
	<ul>
	<li>Addis aka Raptile - Disco (feat. FYI) (130 bpm) [Lv. 4]</li>
	<li>Amo - Amelia (114 bpm) [Lv. 2]</li>
	<li>Braille - The IV (93 bpm) [Lv. 2]</li>
	<li>Divalola - Wallflower (122 bpm) [Lv. 3]</li>
	<li>Eminent Pulse - Surrender (130 bpm) [Lv. 2]</li>
	<li>MJ&iRok - Yeah! (128 bpm) [Lv. 3]</li>
	<li>Thrill Kill - Night Skys (original mix) (121 bpm) [Lv. 3]</li>
	</ul>
<li>3 New Guitar Songs</li>
	<ul>
	<li>BellaMafia - Get Out of Here (152 bpm) [Easy, Normal, Hard]</li>
	<li>MixMatch - Sweetday (115 bpm) [Easy, Normal, Hard]</li>
	<li>Day break - Bumper Car (150 bpm) [Easy, Normal, Hard, Crazy]</li>
	</ul>
<li>2 New Block Beat Songs</li>
	<ul>
	<li>Sirocco - Brain On Music (130 bpm) [Lv. 3]</li>
	<li>Kelsey Maree - It's Love (133 bpm) [Lv. 3]</li>
	</ul>
<li>70 New Items</li>
	<ul>
	<li>34 new women's items including 1 face, 9 hairs, 6 tops, 6 bottoms, 9 shoes, and 3 sets</li>
	<li>28 new men's items including 1 face, 6 hairs, 6 tops, 7 bottoms, 7 shoes, and 1 set</li>
	<li>1 new pet</li>
	<li>2 new motions</li>
	<li>3 new interior items including 1 DJ booth and 2 new platforms</li>
	</ul>
<li>24 New Couple Shop Items</li>
	<ul>
	<li>9 new women's items including 3 hairs, 3 shoes, and 3 sets
	<li>11 new men's items including 3 hairs, 2 tops, 2 bottoms, 3 shoes, and 1 set
	<li>2 new rings</li>
	<li>2 new couple certificates</li>
	</ul>
</ol>