<b>Version:</b> 10110<br>
<ol>
<li>Couple Garden<br>
<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/couplegarden.png" /></li>
	<ul>
	<li>Couple Garden allows you and your couple to plant and harvest flowers that award you with bonus couple points, beats, and items.</li>
	<li>You must have completed a Wedding Party in order to use Couple Garden.</li>
	<li>To access the Couple Garden, click on the new building located at the bottom right-hand corner of Audition Town. Your couple does not have to be online in order to enter.<br>
	<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/couplegardenintown.png" /></li>
	<li>When you enter, you will see your empty garden patch. Underneath is the garden toolbar.<br>
	<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/gardentoolbar.png" /></li>
	<li>To plant seeds, you must first buy them. Click on the Shop button to view seeds to purchase. To view the seeds you've purchased, you can either click on the My Items button or click on the seed button, located on the toolbar. To plant that seed, click on it and it will appear with your cursor. Move your mouse to where you want to plant the seed, and click.</li>
	<li>If you accidentally click on the wrong space, and you want to move your plant, you can click on the pointing hand button to transplant your plant to another space.</li>
	<li>Your plants grow in 5 stages:<br>
		<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/flowerstages.png" /><br>
		About once every hour, your plant will need some attention. If you see an icon above the plant, perform the action based on that icon. To water your plants, you must first purchase watering cans from the Shop, then click the watering can button on the toolbar. To dust your plant, click the duster on the toolbar. To add fertilizer, you must first purchase fertilizer from the Shop, then click the fertilizer button on the toolbar. When the tool is selected, click on the flower to perform that action. You may have to click and hold for a few moments.</li>
	<li>To cancel your current action, such as planting seeds or using the watering can or fertilizer, simply right-click.</li>
	<li>You will only receive rewards for tending to your plants if they reach the next stage after you do so. Tending to them while they're in the same stage as they were when you last tended to them will not give you any reward. Flowers move between stages as follows:</li>
		<ul>
		<li>Stage 1 - After you plant.</li>
		<li>Stage 2 - After you water/dust 1 time since you planted the seed.</li>
		<li>Stage 3 - After you water/dust 2 times since the plant reached Stage 2.</li>
		<li>Stage 4 - After you water/dust/fertilize 6 times since the plant reached Stage 3.</li>
		<li>Stage 5 - After you water/dust/fertilize 9 times since the plant reached Stage 4.</li>
		</ul>
	<li>Make sure you tend to your plants as they need it. If you don't tend to your plants, they will die after some time.</li>
	<li>When your plants reach Stage 5, they are ready to harvest. You can tell that your plants are in Stage 5 if their flowers on the stems have opened and are not closed (this is Stage 4). To harvest, click the Harvest button on the toolbar. Harvesting will give the biggest rewards.</li>
	<li>If your plants die, you can purchase the Revival item (a yellow star in the Shop) to revive your plants. If you want to prevent your plants from dying, you can purchase the Nutrients item to ensure that your plants will not die for up to one week. Bana Cash is required to purchase both of these items. To use them, click their respective buttons on the toolbar.</li>
	<li>Periodically, worms will appear on your garden. These worms will affect the growth of your plants. To get rid of them, use the purple and green hammer on the toolbar to whack them and make them go away.</li>
	<li>If your friends on your buddy list are using the Couple Garden, a leaf will appear with their name. You can visit their garden by right-clicking their name and choosing Couple Garden.<br>
	<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/couplegardenrightclick.png" /></li>
	<li>A new ranking system will rank couples for their effort on their gardens. You can view this ranking board by visiting the main Ranking board next to the Dancing Hall and clicking on the new tab. You will get points when you:</li>
		<ul>
		<li>visit your garden each day. You will get 10 points per player, once a day. If both you and your couple visit your garden, you will get 20 points that day.</li>
		<li>harvest a Stage 5 plant (3 points per plant).</li>
		<li>perform an action on your plant (1 point per plant).</li>
		</ul>
	</ul>
<li>8 New Songs</li>
	<ul>
	<li>Amo - The Alibi (132 bpm)</li>
	<li>Analogue Revolution - Lights Camera Action (129 bpm)</li>
	<li>CC - Rock and Roll Girl (136 bpm)</li>
	<li>DiRTY RADiO - Ready To Go (93 bpm)</li>
	<li>Fresh Body Shop - So Real (150 bpm)</li>
	<li>Kaboose - Just Rock (97 bpm)</li>
	<li>Kyven - Stay (127 bpm)</li>
	<li>MJ&iRoK - Bang Goes The Drum (160 bpm)</li>
	</ul>
<li>4 New Night Dance Songs</li>
	<ul>
	<li>Analogue Revolution - Lights Camera Action (129 bpm)</li>
	<li>CC - Rock and Roll Girl (136 bpm)</li>
	<li>DiRTY RADiO - Ready To Go (93 bpm)</li>
	<li>MJ&iRoK - Bang Goes The Drum (160 bpm)</li>
	</ul>
<li>8 New Beat Up Songs</li>
	<ul>
	<li>Amo - The Alibi (132 bpm) [Lv. 2]</li>
	<li>Analogue Revolution - Lights Camera Action (129 bpm) [Lv. 2]</li>
	<li>CC - Rock and Roll Girl (136 bpm) [Lv. 2]</li>
	<li>DiRTY RADiO - Ready To Go (93 bpm) [Lv. 1]</li>
	<li>Fresh Body Shop - So Real (150 bpm) [Lv. 2]</li>
	<li>Kaboose - Just Rock (97 bpm) [Lv. 1]</li>
	<li>Kyven - Stay (127 bpm) [Lv. 2]</li>
	<li>MJ&iRoK - Bang Goes The Drum (160 bpm) [Lv. 3]</li>
	</ul>
<li>8 New One Two Party Songs</li>
	<ul>
	<li>Amo - The Alibi (132 bpm) [Lv. 3]</li>
	<li>Analogue Revolution - Lights Camera Action (129 bpm) [Lv. 3]</li>
	<li>CC - Rock and Roll Girl (136 bpm) [Lv. 4]</li>
	<li>DiRTY RADiO - Ready To Go (93 bpm) [Lv. 2]</li>
	<li>Fresh Body Shop - So Real (150 bpm) [Lv. 4]</li>
	<li>Kaboose - Just Rock (97 bpm) [Lv. 2]</li>
	<li>Kyven - Stay (127 bpm) [Lv. 3]</li>
	<li>MJ&iRoK - Bang Goes The Drum (160 bpm) [Lv. 4]</li>
	</ul>
<li>5 New Block Beat Songs</li>
	<ul>
	<li>Ajuku Girls - 11:59 (125 bpm) [Lv. 2]</li>
	<li>Audition - Audition (168 bpm) [Lv. 1]</li>
	<li>Audition - You (136 bpm) [Lv. 3]</li>
	<li>DiRTY RADiO - Ground Shake (130 bpm) [Lv. 3]</li>
	<li>Pair-A-Dice - There's No Stoppin' Us (150 bpm) [Lv. 3]</li>
	</ul>
<li>2 New Guitar Songs</li>
	<ul>
	<li>Day break - Honey Delivery (112 bpm) [Easy, Normal, Hard, Crazy]</li>
	<li>NaRu - Mr. Right (134 bpm) [Easy, Normal, Hard]</li>
	</ul>
<li>83 New Items</li>
	<ul>
	<li>46 new women's items including 2 faces, 11 hairs, 8 top, 9 bottoms, 12 shoes, and 4 sets.</li>
	<li>32 new men's items including 2 faces, 7 hairs, 6 tops, 7 bottoms, 8 shoes, and 2 sets.</li>
	<li>2 new motions.</li>
	<li>1 new DJ booth.</li>
	<li>2 new accessories.</li>
	</ul>
<li>26 New Couple Garden Items</li>
	<ul>
	<li>10 new seeds.</li>
	<li>12 new accessories.</li>
	<li>4 new care products.</li>
	</ul>
</ol>