<b>Version:</b> 10115<br>
<ol>
<li>Boys & Girls Mode<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bngtitle.jpg" /></li>
	<ul>
	<li>New team mode in which boys battle against girls.</li>
	<li>Play the mode by selecting Boys & Girls when you create a room. Boys & Girls rooms appear light blue in the room list. Boys & Girls uses either Easy Mode - 4 Keys or 8 Keys.</li>
	<li>Team composition can either be 2 vs. 2 or 3 vs. 3, boys on the blue team and girls on the red team.</li>
	<li>Gameplay:</li>
		<ol>
		<li>Card Selection/Card Battle<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/cardbattle.jpg" /></li>
			<ul>
			<li>First, each member of your team picks a card from a set of four. The card you choose is random between a normal card (green), an empty card (blue), or a hidden card (yellow).<br><img style="margin:3px;" src="{{ GLOBAL.staticUrl }}/img/patchinfo/normalcard.jpg" /><img style="margin:3px;" src="{{ GLOBAL.staticUrl }}/img/patchinfo/emptycard.jpg" /><img style="margin:3px;" src="{{ GLOBAL.staticUrl }}/img/patchinfo/hiddencard.jpg" /></li>
			<li>Each card, except empty cards, has a potential bonus. Normal cards have bonuses such as +50 EXP, +100 Beats, or +10% score during the Team Battle section. Hidden cards have bigger bonuses such as +10,000 Beats.</li>
			<li>The number on your card determines the Card Battle round in which you participate. During Card Battle, round 1 is a battle against the player with a number 1 card on your team and the player with a number 1 card on the other team. Round 2 consists of the players with number 2 cards, and Round 3 is players with number 3 cards.</li>
			<li>If your team wins the Card Battle round, your entire team receives the card's bonus. If you lose, you don't receive the card's bonus.<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/gaincardeffect.jpg" /></li>
			</ul>
		<li>Leader Battle<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/leaderbattle.jpg" /></li>
			<ul>
			<li>After the Card Battle rounds are all complete, the highest scoring player on each team plays against each other in a Leader Battle.</li>
			<li>During Leader Battle, the leader of each team has x2 score. The other players on both teams just watch.</li>
			<li>If your leader wins the Leader Battle, your entire team will get a bonus of 1,000 Beats.</li>
			</ul>
		<li>Team Battle<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/teambattle.jpg" /></li>
			<ul>
			<li>After Leader Battle, both teams regroup and play like regular team mode until the end of the game.</li>
			<li>If you won a +10% point bonus card during Card Battle, each person will get 10% more points until the end of the game.<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/10percentbonus.jpg" /></li>
			</ul>
		<li>Punishment</li>
			<ul>
			<li>If your team wins, each member of your team is shown a member of the other team. You can then choose what you want that person to do, since they lost. You can do things like dress them up as a snowman or a dog, or make them run around saying "What Happened?!"</li>
			</ul>
		<li>Popular Points</li>
			<ul>
			<li>Throughout the game, you'll receive Popular Points.<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/points.jpg" /></li>
			<li>You receive Popular Points:</li>
				<ul>
				<li>if you win your Card Battle (+3)</li>
				<li>if your leader wins the Leader battle (+3)</li>
				<li>if your team wins the Team Battle (+5)</li>
				</ul>
			<li>At the end of the game, you can allocate your Popular Points to each member of the opposing team.<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/popularpoint.jpg" /></li>
			<li>Whoever receives the most Popular Points on each team will be the Most Popular Boy/Girl, and will sparkle in the game room.<br><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/popup.jpg" /></li>
			<li>If you don't give away all of your Popular Points at the end of the game, you will receive 50 Beats for each Popular Point you didn't give away.</li>
			</ul>
		</ol>
	</ul>
<li>8 New Songs</li>
	<ul>
	<li>Dream Funker and Steven May - Paradise (Radio Edit) (128 bpm)</li>
	<li>Erin Bowman - All My Girls (134 bpm)</li>
	<li>Kyven - Dance Forever (126 bpm)</li>
	<li>LegNo - Flauto Attraverso (Original Mix) (125 bpm)</li>
	<li>MJ&iRoK - Doo Da Do De (86 bpm)</li>
	<li>Mighty Mike - Hey Beautiful (80 bpm)</li>
	<li>Thrill Kill - Way That You Move (121 bpm)</li>
	<li>Wayne Numan - I Wanna Dance! (130 bpm)</li>
	</ul>
<li>4 New Night Dance Songs</li>
	<ul>
	<li>Erin Bowman - All My Girls (134 bpm)</li>
	<li>MJ&iRoK - Doo Da Do De (86 bpm)</li>
	<li>Mighty Mike - Hey Beautiful (80 bpm)</li>
	<li>Wayne Numan - I Wanna Dance! (130 bpm)</li>
	</ul>
<li>8 New Beat Up Songs</li>
	<ul>
	<li>Dream Funker and Steven May - Paradise (Radio Edit) (128 bpm) [Lv. 2]</li>
	<li>Erin Bowman - All My Girls (134 bpm) [Lv. 2]</li>
	<li>Kyven - Dance Forever (126 bpm) [Lv. 2]</li>
	<li>LegNo - Flauto Attraverso (Original Mix) (125 bpm) [Lv. 2]</li>
	<li>MJ&iRoK - Doo Da Do De (86 bpm) [Lv. 2]</li>
	<li>Mighty Mike - Hey Beautiful (80 bpm) [Lv. 1]</li>
	<li>Thrill Kill - Way That You Move (121 bpm) [Lv. 2]</li>
	<li>Wayne Numan - I Wanna Dance! (130 bpm) [Lv. 2]</li>
	</ul>
<li>8 New One Two Party Songs</li>
	<ul>
	<li>Dream Funker and Steven May - Paradise (Radio Edit) (128 bpm) [Lv. 3]</li>
	<li>Erin Bowman - All My Girls (134 bpm) [Lv. 4]</li>
	<li>Kyven - Dance Forever (126 bpm) [Lv. 4]</li>
	<li>LegNo - Flauto Attraverso (Original Mix) (125 bpm) [Lv. 3]</li>
	<li>MJ&iRoK - Doo Da Do De (86 bpm) [Lv. 3]</li>
	<li>Mighty Mike - Hey Beautiful (80 bpm) [Lv. 2]</li>
	<li>Thrill Kill - Way That You Move (121 bpm) [Lv. 3]</li>
	<li>Wayne Numan - I Wanna Dance! (130 bpm) [Lv. 3]</li>
	</ul>
<li>2 New Rhythm Holic Songs</li>
	<ul>
	<li>Audition - Again (130 bpm)</li>
	<li>Audition - Have a Nice Day (120 bpm)</li>
	</ul>
<li>2 New Guitar Songs</li>
	<ul>
	<li>JeJe - Transformation (130 bpm) [Easy, Normal, Hard]</li>
	<li>No Brain - Pang! Pang! Pang! (160 bpm) [Easy, Normal, Hard, Crazy]</li>
	</ul>
<li>5 New Block Beat Songs</li>
	<ul>
	<li>Audition - Can't Let You Go (145 bpm) [Lv. 3]</li>
	<li>Audition - With You (150 bpm) [Lv. 3]</li>
	<li>DJ Regal - Fresh (128 bpm) [Lv. 3]</li>
	<li>Kelsey Maree - La La La (134 bpm) [Lv. 3]</li>
	<li>We Are Leo - Heartbeats (132 bpm) [Lv. 3]</li>
	</ul>
<li>97 New Items</li>
	<ul>
	<li>56 new women's items including 2 faces, 13 hairs, 7 tops, 8 bottoms, 15 shoes, and 11 sets.</li>
	<li>36 new men's items including 2 faces, 8 hairs, 8 tops, 10 bottoms, 7 shoes, and 1 set.</li>
	<li>2 new motions.</li>
	<li>3 new accessories.</li>
	</ul>
<li>16 New Couple Garden Items</li>
	<ul>
	<li>4 new seeds.</li>
	<li>12 new accessories.</li>
	</ul>
</ol>