{% extends "base.twig" %}

{% block title %}Audifan.net - Guides - Couple Garden Guide{% endblock %}

{% block pagetitle %}Couple Garden Guide{% endblock %}

{% block head %}
    <style>
        table.itemtable {
            border-collapse: collapse;
            border-spacing: 0px;
            width: 100%;
        }
        
        table.itemtable tr th, table.itemtable tr td {
            text-align: center;
            padding: 5px;
        }
        
        table.itemtable tr th {
            font-size: 1.2em;
            font-weight: bold;
        }
        
        table.itemtable tr td {
            font-size: 1em;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="contentwrapper2col">
        <div class="float">
            <div class="sectionwrapper">
                <div class="sectionheading">Seeds</div>
                <table class="itemtable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Seed</th>
                            <th>Step 4</th>
                            <th>Step 5</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
<tr><td>Apricot Saintpaulia</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/apricotsaintpaulia_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/apricotsaintpaulia_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/apricotsaintpaulia_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Apricot Tulip</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/apricottulip_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/apricottulip_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/apricottulip_s5.png" /></td><td>[Rare*]</td></tr>
<tr><td>Black Sunflower Primrose</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blacksunflowerprimrose_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blacksunflowerprimrose_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blacksunflowerprimrose_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Blue Bird's Eye</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluebirdseye_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluebirdseye_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluebirdseye_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Blue Borage</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueborage_seed.jpg" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueborage_s4.jpg" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueborage_s5.jpg" /></td><td>500 Beats</td></tr>
<tr><td>Blue Coral Tree</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluecoraltree_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluecoraltree_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluecoraltree_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Blue Cyrtobotrya</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluecyrtobotrya_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluecyrtobotrya_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluecyrtobotrya_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Blue Hibiscus</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluehibiscus_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluehibiscus_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluehibiscus_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Blue Orchid</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueorchid_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueorchid_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueorchid_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Blue Popcorn Flower</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluepopcornflower_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluepopcornflower_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluepopcornflower_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Blue Primrose</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueprimrose_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueprimrose_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/blueprimrose_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Blue Rose</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluerose_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluerose_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluerose_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Blue Saxifrage</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluesaxifrage_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluesaxifrage_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/bluesaxifrage_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Butter Popcorn Flower</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/butterpopcornflower_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/butterpopcornflower_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/butterpopcornflower_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Cherry Popcorn Flower</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/cherrypopcornflower_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/cherrypopcornflower_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/cherrypopcornflower_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Emerald Lily</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/emeraldlily_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/emeraldlily_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/emeraldlily_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Gold Camellia</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldcamellia_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldcamellia_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldcamellia_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Gold Lace</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldlace_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldlace_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldlace_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Golden Geranium</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldengeranium_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldengeranium_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/goldengeranium_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Green Geranium</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/greengeranium_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/greengeranium_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/greengeranium_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Orange Pansy</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangepansy_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangepansy_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangepansy_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Orange Peony</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangepeony_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangepeony_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangepeony_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Orange Primrose</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangeprimrose_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangeprimrose_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangeprimrose_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Orange Sunflower</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangesunflower_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangesunflower_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/orangesunflower_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Pink Bird's Eye</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkbirdseye_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkbirdseye_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkbirdseye_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Pink Borage</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkborage_seed.jpg" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkborage_s4.jpg" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkborage_s5.jpg" /></td><td>900 Beats</td></tr>
<tr><td>Pink Camellia</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkcamellia_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkcamellia_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkcamellia_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Pink Hibiscus</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkhibiscus_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkhibiscus_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkhibiscus_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Pink Lace</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinklace_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinklace_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinklace_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Pink Orchid</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkorchid_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkorchid_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkorchid_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Pink Peony</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkpeony_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkpeony_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinkpeony_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Pink Saxifrage</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinksaxifrage_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinksaxifrage_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pinksaxifrage_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Plum Tulip</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/plumtulip_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/plumtulip_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/plumtulip_s5.png" /></td><td>[Rare*]</td></tr>
<tr><td>Pure Red Poinsettia</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pureredpoinsettia_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pureredpoinsettia_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/pureredpoinsettia_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Purple Marvel of Peru</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplemarvelofperu_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplemarvelofperu_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplemarvelofperu_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Purple Pansy</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplepansy_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplepansy_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplepansy_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Purple Saintpaulia</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplesaintpaulia_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplesaintpaulia_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/purplesaintpaulia_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Red Coral Tree</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redcoraltree_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redcoraltree_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redcoraltree_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Red Cyrtobotrya</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redcyrtobotrya_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redcyrtobotrya_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redcyrtobotrya_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Red Rose</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redrose_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redrose_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redrose_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Red Sunflower Primrose</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redsunflowerprimrose_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redsunflowerprimrose_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/redsunflowerprimrose_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Small Orange Daisy</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/smallorangedaisy_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/smallorangedaisy_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/smallorangedaisy_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Small Yellow Daisy</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/smallyellowdaisy_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/smallyellowdaisy_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/smallyellowdaisy_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Snowflake Magnolia</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/snowflakemagnolia_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/snowflakemagnolia_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/snowflakemagnolia_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Sweet Gold Poinsettia</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/sweetgoldpoinsettia_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/sweetgoldpoinsettia_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/sweetgoldpoinsettia_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Violet Lily</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violetlily_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violetlily_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violetlily_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Violet Strobilanthes</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violetstrobilanthes_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violetstrobilanthes_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violetstrobilanthes_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Violet Toadflax</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violettoadflax_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violettoadflax_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/violettoadflax_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>White Darling Flower</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/whitedarlingflower_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/whitedarlingflower_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/whitedarlingflower_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>White Toadflax</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/whitetoadflax_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/whitetoadflax_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/whitetoadflax_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Yellow Bird Magnolia</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowbirdmagnolia_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowbirdmagnolia_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowbirdmagnolia_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Yellow Darling Flower</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowdarlingflower_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowdarlingflower_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowdarlingflower_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Yellow Marvel of Peru</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowmarvelofperu_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowmarvelofperu_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowmarvelofperu_s5.png" /></td><td>900 Beats</td></tr>
<tr><td>Yellow Popcorn Flower</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowpopcornflower_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowpopcornflower_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowpopcornflower_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Yellow Strobilanthes</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowstrobilanthes_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowstrobilanthes_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowstrobilanthes_s5.png" /></td><td>500 Beats</td></tr>
<tr><td>Yellow Sunflower</td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowsunflower_seed.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowsunflower_s4.png" /></td><td><img src="{{ GLOBAL.staticUrl }}/img/couplegarden/yellowsunflower_s5.png" /></td><td>500 Beats</td></tr>
                </table>
            </div>
        </div>
        <div class="float">
            <div class="sectionwrapper">
                <div class="sectionheading">Accessories</div>
                <table class="itemtable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cost</th>
                            <th>Spaces Across</th>
                            <th>Spaces Down</th>
                        </tr>
<tr><td>A baby-auto taxi</td>
<td>600</td>
<td>2</td>
<td>1</td>
</tr>
<tr><td>Alphabet (All)</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Alpine Fence</td>
<td>300</td>
<td>2</td>
<td>1</td>
</tr>
<tr><td>Baby Whale Spout</td>
<td>1,200</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Bling Bling 2013</td>
<td>1,200</td>
<td>4</td>
<td>2</td>
</tr>
<tr><td>Blue pebble wall</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Brimming Heart</td>
<td>600</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Bubbly Little Snowman</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Bunch of Roses</td>
<td>600</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Chu~ Boy</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Chu~ Girl</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Coy Butterfly</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Cute Chick</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>European Streetlamp</td>
<td>800</td>
<td>1</td>
<td>3</td>
</tr>
<tr><td>Exclamation Message</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Fence with Rose Vine</td>
<td>200</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Flying Duck Statue</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Flying Dumbo slide</td>
<td>800</td>
<td>3</td>
<td>2</td>
</tr>
<tr><td>Grid Fence</td>
<td>300</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Heart Fence</td>
<td>800</td>
<td>2</td>
<td>1</td>
</tr>
<tr><td>Heart for You &amp; I</td>
<td>800</td>
<td>2</td>
<td>1</td>
</tr>
<tr><td>Heart Message</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Hide&amp;Seek Mole</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Jack-o'-lantern</td>
<td>600</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Little Parrot</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Lonely Snail</td>
<td>800</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Love Letter Board</td>
<td>1,200</td>
<td>2</td>
<td>3</td>
</tr>
<tr><td>Love Letter Mailbox</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Lovely Heart Tree</td>
<td>800</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Melting ice cream</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Mini Christmas Tree</td>
<td>1,200</td>
<td>2</td>
<td>3</td>
</tr>
<tr><td>Mini Pond</td>
<td>800</td>
<td>3</td>
<td>2</td>
</tr>
<tr><td>Mini Speaker</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>My Country Garden</td>
<td>800</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>My Darling Flowerpot</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Mystic Blue Butterfly</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>New Year Garden Message</td>
<td>800</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Our Way Notice Board</td>
<td>1,200</td>
<td>2</td>
<td>3</td>
</tr>
<tr><td>Parenthesis L Message</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Parenthesis R Message</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Petite Pink Fence</td>
<td>200</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Picnic Bicycle</td>
<td>1,200</td>
<td>3</td>
<td>2</td>
</tr>
<tr><td>Pink&amp;Blue couple bucket</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Provence Home Garden</td>
<td>1,200</td>
<td>2</td>
<td>3</td>
</tr>
<tr><td>Rabbit Stuffed Toy</td>
<td>800</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Rainbow Parasol</td>
<td>600</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Red Dragonfly</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Red Hair Mushroom Brothers</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Red Postbox For You</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Roll of Paper</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Roman Holiday Streetlamp</td>
<td>800</td>
<td>1</td>
<td>3</td>
</tr>
<tr><td>Romantic Phone Booth</td>
<td>1,200</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Rooster Weathercck</td>
<td>800</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Sandcastle of Love</td>
<td>800</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Shy Little Snowgirl</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Simple Heart</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Sky Tree Fence</td>
<td>300</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Skyblue Pinwheel</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Smarty Froggy</td>
<td>400</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Smiling Scarecrow</td>
<td>800</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Snow Antique Fence</td>
<td>600</td>
<td>2</td>
<td>1</td>
</tr>
<tr><td>Space PangPang Combo</td>
<td>600</td>
<td>3</td>
<td>2</td>
</tr>
<tr><td>Star Message</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Stump of Our Own</td>
<td>400</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Sweet little fire extinguisher</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Sweet Wooden Fence</td>
<td>300</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Tall Heart Tree</td>
<td>1,200</td>
<td>1</td>
<td>3</td>
</tr>
<tr><td>Tall Ladder</td>
<td>800</td>
<td>2</td>
<td>3</td>
</tr>
<tr><td>Tasha's Garden Fountain</td>
<td>800</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Timid Ladybug</td>
<td>200</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Tiny Ant</td>
<td>400</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Traffic Safety Sign</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Tree Cookie</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Uncle Tom's Wooden Fence (Beats)</td>
<td>200</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Very good mark</td>
<td>600</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Waddling Duckling</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>wall coverd with snow</td>
<td>600</td>
<td>2</td>
<td>1</td>
</tr>
<tr><td>Wavy White Fence</td>
<td>300</td>
<td>2</td>
<td>1</td>
</tr>
<tr><td>Wedding Couple Female doll</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Wedding Couple Male doll</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>White Choco My Garden</td>
<td>800</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>White Folding Chair</td>
<td>600</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>White Modern Fence</td>
<td>200</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Wooden Bucket</td>
<td>600</td>
<td>2</td>
<td>1</td>
</tr>
<tr><td>Wooden Horse</td>
<td>1,200</td>
<td>3</td>
<td>2</td>
</tr>
<tr><td>Woofer speakers L</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Woofer speakers R</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
<tr><td>Work Table</td>
<td>600</td>
<td>2</td>
<td>2</td>
</tr>
<tr><td>Yellow Paint Fence</td>
<td>300</td>
<td>1</td>
<td>2</td>
</tr>
<tr><td>Yellow Pinwheel</td>
<td>600</td>
<td>1</td>
<td>1</td>
</tr>
                    </thead>
                </table>
            </div>
            <div class="sectionwrapper">
                <div class="sectionheading">Puzzles &amp; Rewards</div>
                        {% for i, p in ["Fresh Cap Couple","Party Night! DJ Girl","Space Club DJ","Very Good","Space Pang Pang","Bear vs Tiger","Pajama Girl","Dreaming Guitar Girl","Rockstar Debut!","Couple Dance","A Man Takes a Cab","A Midsummer Noon's Dream"] %}
                            <div class="_center" style="margin-top:20px;">
                                <div style="font-size:1.2em; font-weight:bold;">{{ p }}</div>
                                <div><img src="{{ GLOBAL.staticUrl }}/img/couplegardenpuzzles/{{ i+1 }}.{% if i in [0,1,8] %}png{% else %}jpg{% endif %}" /></div>
                                <div style="margin-top:5px;"><img src="{{ GLOBAL.staticUrl }}/img/couplegardenpuzzles/{{ i+1 }}reward.{% if i in [0,1,8] %}png{% else %}jpg{% endif %}" /></div>
                            </div>
                        {% endfor %}
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}