{% extends "base.twig" %}

{% block title %}Audifan.net - Help - The Happy Box{% endblock %}

{% block pagetitle %}<a href="/help/">Help</a>: The Happy Box{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
            The Audifan Happy Box gives you the opportunity to win badges and additional <a href="/community/vipdrawing/">VIP Drawing</a> entries.  Just log in, go to the <a href="/community/happybox/">Happy Box page</a>, and click the "GO" button to give it a spin!

            <div class="sectionheading">Possible Prizes</div>

            <ul>
                <li>Badges<ul>
                        <li>Badges appear with your name on your profile and in comments.</li>
                        <li>Badges last 30 days and you may have a maximum of 2 badges at any time.</li>
                        <li>Upon winning a Badge Voucher, you can redeem it on the <a href="/account/stuff/">My Stuff page</a>.</li>
                        <li>There are 14 badges to choose from including tournament medals, mission icons, and other miscellaneous Audition flair.</li>
                        <li><img src="{{ GLOBAL.staticUrl }}/img/badges/16.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/17.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/18.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/19.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/20.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/21.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/22.png" /><br />
                            <img src="{{ GLOBAL.staticUrl }}/img/badges/23.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/24.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/25.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/26.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/27.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/28.png" /><img src="{{ GLOBAL.staticUrl }}/img/badges/29.png" /></li>
                    </ul></li>
                <li>Additional VIP Drawing Entries<ul>
                        <li>Adds an additional entry in the <a href="/community/vipdrawing/">VIP Drawing</a>.</li>
                        <li>Can only be won if you already won an entry by earning VIP Status.</li>
                    </ul></li>
                <li>Cooldown Reduction Items (see below)</li>
                <li>Coin Items<ul>
                    <li>Coin Boxes</li>
                    <li>Coin Bonus Items</li>
                    <li>If you do not win anything else, you will receive between 10 and 50 coins.</li>
                    <li>See <a href="/news/view/254/">this news post</a> for more info about coins.</li>
                    </ul></li>
            </ul>

            <div class="sectionheading">Cooldown Bonuses</div>

            <ul>
                <li>You can spin the Happy Box once every 8 hours.  However, you can reduce this cooldown time in many ways:<ol>
                <li>Win a cooldown item from the Happy Box itself!  A -40% cooldown reduction item can be won and lasts 7 days.  If you win another one, the time will be extended 7 more days.</li>
                <li>Earn VIP Status.  If you have a VIP badge, your cooldown will be reduced by 40%.</li>
                <li>Earn Quest Points.  You will receive a cooldown reduction of approximately 0.0405% per Quest Point, up to a maximum of 50.00% reduction.</li>
                <li>Earn a Quest medal.<ul>
                        <li>Thumbs Up (Easy quest completed) - Reduces cooldown by 7 1/2 minutes.</li>
                        <li>Bronze Medal (Easy + Medium quests) - Reduces cooldown by 15 minutes.</li>
                        <li>Silver Medal (Easy, Medium, & Hard quests) - Reduces cooldown by 22 1/2 minutes.</li>
                        <li>Gold Medal (All quests completed) - Reduces cooldown by 30 minutes.</li>
                        <li>Reduction from quest medals are applied last and do not stack with other bonuses.</li>
                    </ul></li>
                    </ol></li>
                <li>All of your active cooldown bonuses are listed on the Happy Box page.</li>
            </ul>
        </div>
    </div>
{% endblock %}