{% extends "base.twig" %}
{% import "macros/forms.twig" as forms %}

{% block title %}Audifan.net - Change Password{% endblock %}

{% block pagetitle %}Change Password{% endblock %}

{% block body %}
    {% if askForPassword %}
        <div class="contentwrapperhalf">
            <div class="float">
                {{ forms.start("/account/changepassword/?id="~id~"&code="~code) }}
                <div style="margin-bottom:5px;">
                    <b>Enter a new password:</b>
                    <span style="margin-left: 5px;">
                        {{ forms.password("newpassword") }}
                    </span>
                </div>
                <div style="margin-bottom:5px;">
                    <b>Confirm your new password:</b>
                    <span style="margin-left: 5px;">
                        {{ forms.password("newpassword2") }}
                    </span>
                </div>
                <div class="_center">
                    {{ forms.submit("submit_password", "Change Password") }}
                </div>
                {{ forms.end() }}
            </div>
        </div>
    {% endif %}
{% endblock %}