<b>Version:</b> 10098<br>
<ol>
<li>Block Beat Mode</li>
	<ul>
	<li>Block Beat is a team mode with 2 players per team and a maximum of 3 teams. Teammates take turns hitting notes. While one player is "Playing" the other is "Waiting". Your notes are on the left and your teammate's are on the right.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/blockbeat.png" /></li>
	<li>As notes fall, press the corresponding key, either the left, down, or right arrow.</li>
	<li>"Space" notes fall at the beginning and end of your turn. Press Spacebar or Ctrl with these.</li>
	<li>If you fill the B O N U S bar above your note window (by getting a combo of 100), you will get more points.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/blockbeat100combo.png" /><br />Double fill it (by getting a combo of 300), for even more points.</li>
	<li>Underneath the note window is a space for blue and red blocks to fall. In order to open your block space, you must get a Perfect judgment on the Space note at the beginning of your turn.</li>
	<li>Once you open your block space, there is a 20% chance of having a blue or red block fall in the same column after getting a Perfect judgment on a note.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/blockbeatblocks.png" /></li>
	<li>If three red blocks or three blue blocks are touching, they will be cleared and added to your block count, located underneath your team score at the top of the screen.</li>
	<li>At the end of the game, you will receive bonus beats, depending on how many blocks you cleared. 5 beats are awarded per block that you cleared, so if you cleared 15 blocks, you will get 75 beats.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/blockbeatbeats.png" /></li>
	<li>If you play with your couple, blocks with hearts in them will fall randomly.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/heartblock.png" /><br />If you clear these, you will receive bonus couple points.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/blockbeatheartplusone.png" /><br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/blockbeatbonushearts.png" /></li>
	</ul>
<li>Easy Mode</li>
	<ul>
	<li>Easy Mode will show the next move before it appears, in order to give you twice the amount of time to recognize the keys.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/easymode.png" /></li>
	<li>Easy Mode is available in 4 keys and 8 keys.</li>
	</ul>
<li>Over 500 new moves.</li>
<li>7 New Songs</li>
	<ul>
	<li>Ajuku Girls - 11:59 (125 bpm)</li>
	<li>Candy Rose - So You Know (Gandalf the Grey Mix) (130 bpm)</li>
	<li>Kaboose - Get Up (95 bpm)</li>
	<li>Kyven - City Boy (Instrumental) (125 bpm)</li>
	<li>MJ&iRoK - The Underground (126 bpm)</li>
	<li>We Are Leo - Heartbeats (132 bpm)</li>
	<li>Windcheater - Hold It (125 bpm)</li>
	</ul>
<li>3 New Night Songs</li>
	<ul>
	<li>Ajuku Girls - 11:59 (125 bpm)</li>
	<li>We Are Leo - Heartbeats (132 bpm)</li>
	<li>Windcheater - Hold It (125 bpm)</li>
	</ul>
<li>7 New Beat Up Songs</li>
	<ul>
	<li>Ajuku Girls - 11:59 (125 bpm) [Lv. 2]</li>
	<li>Candy Rose - So You Know (Gandalf the Grey Mix) (130 bpm) [Lv. 2]</li>
	<li>Kaboose - Get Up (95 bpm) [Lv. 2]</li>
	<li>Kyven - City Boy (Instrumental) (125 bpm) [Lv. 2]</li>
	<li>MJ&iRoK - The Underground (126 bpm) [Lv. 2]</li>
	<li>We Are Leo - Heartbeats (132 bpm) [Lv. 3]</li>
	<li>Windcheater - Hold It (125 bpm) [Lv. 2]</li>
	</ul>
<li>7 New One Two Party Songs</li>
	<ul>
	<li>Ajuku Girls - 11:59 (125 bpm) [Lv. 3]</li>
	<li>Candy Rose - So You Know (Gandalf the Grey Mix) (130 bpm) [Lv. 2]</li>
	<li>Kaboose - Get Up (95 bpm) [Lv. 3]</li>
	<li>Kyven - City Boy (Instrumental) (125 bpm) [Lv. 2]</li>
	<li>MJ&iRoK - The Underground (126 bpm) [Lv. 3]</li>
	<li>We Are Leo - Heartbeats (132 bpm) [Lv. 4]</li>
	<li>Windcheater - Hold It (125 bpm) [Lv. 4]</li>
	</ul>
<li>21 New Block Beat Songs</li>
	<ul>
	<li>Audition - B Soul Funk (101 bpm) [Lv. 1]</li>
	<li>Audition - Beautiful (122 bpm) [Lv. 2]</li>
	<li>Audition - Blackout House (130 bpm) [Lv. 1]</li>
	<li>Audition - Chinese Lady (118 bpm) [Lv. 2]</li>
	<li>Audition - Destiny (132 bpm) [Lv. 2]</li>
	<li>Audition - Doo Doop (140 bpm) [Lv. 2]</li>
	<li>Audition - Driving At Night (140 bpm) [Lv. 2]</li>
	<li>Audition - Elec Bossa (123 bpm) [Lv. 1]</li>
	<li>Audition - Euro 2005 (138 bpm) [Lv. 2]</li>
	<li>Audition - Funky Town (130 bpm) [Lv. 2]</li>
	<li>Audition - Get on the Floor (140 bpm) [Lv. 2]</li>
	<li>Audition - Go Go (150 bpm) [Lv. 2]</li>
	<li>Audition - Let's Start It (99 bpm) [Lv. 2]</li>
	<li>Audition - Magic World (185 bpm) [Lv. 1]</li>
	<li>Audition - No Space (138 bpm) [Lv. 2]</li>
	<li>Audition - Queen of Dancing (135 bpm) [Lv. 2]</li>
	<li>Audition - Swan Lake (118 bpm) [Lv. 2]</li>
	<li>Audition - Sweetie (115 bpm) [Lv. 2]</li>
	<li>Audition - Take It (120 bpm) [Lv. 1]</li>
	<li>Audition - Yo! DJ! (135 bpm) [Lv. 2]</li>
	<li>Audition - You're Already Gone (150 bpm) [Lv. 3]</li>
	</ul>
<li>67 New Items</li>
	<ul>
	<li>34 new women's items including 2 faces, 9 hairs, 6 tops, 6 bottoms, 8 shoes, and 3 sets.</li>
	<li>27 new men's items including 2 faces, 7 hairs, 5 tops, 5 bottoms, 6 shoes, and 2 sets.</li>
	<li>2 new motions.</li>
	<li>3 new accessories.</li>
	<li>1 new DJ booth.</li>
	</ul>
<li>57 New Couple Shop Items</li>
	<ul>
	<li>23 new women's items including 5 hairs, 2 tops, 3 bottoms, 5 shoes, and 8 sets. </li>
	<li>24 new men's items including 6 hairs, 3 tops, 3 bottoms, 5 shoes, and 7 sets.</li>
	<li>2 new pets.</li>
	<li>4 new rings.</li>
	<li>4 new couple certificates.</li>
	</ul>
</ol>