<b>Version:</b> 10167<br>
<ol>
<li>Make Up System</li>
    <ul>
    <li>The Make Up System lets you upgrade and customize certain accessories with special effects.</li>
    <li>The Make Up System is part of the mall.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/mallswitch.jpg" /></li>
    <li>Accessories that can be used with the Make Up System are available from the regular mall.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/acc.jpg" /></li>
    <li>To begin upgrading your items, click the item to add it to the Make Up window.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/blanksetup.jpg" /></li>
    <li>To upgrade the design of the item, you need 100 Make Up Points. Make Up Points are earned by playing games.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/result.jpg" /></li>
    <li>The number of Make Up Points you earn per game depends on how many people are in the room and your ranking.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/mkuppts.jpg" /></li>
    <li>You can have a maximum of 1,000 Make Up Points. You can see how many Make Up Points you have in the lobby and in a room:<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/lobbyinfo.jpg" /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/inroom.jpg" /></li>
    <li>To upgrade the item, click the Use button under the "Points" box and click OK. When you use points, the upgrade has a chance to fail. If the upgrade fails, the design of the accessory will downgrade by one level. The 100 Make Up Points is used even if the upgrade fails.</li>
    <li>You can also use items to add special effects to the accessories. These effects are Items purchasable from the regular mall.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/mallitems.jpg" /></li>
    <li>With these items, you can change the color, add glitter, or both.</li>
    <li>To use these items on your accessory, add them to the Make Up window and click OK. Using these items will be successful 100% of the time, unless you ALSO use points while using these items.</li>
        <ul>
        <li>Using the Color item with Points decreases chance to fail by 3%.</li>
        <li>Using the Glitter item with Points decreases chance to fail by 5%.</li>
        <li>Using the Color + Glitter item with Points decreases chance to fail by 10%.</li>
        </ul>
    </ul>
<li>New Loading Screens</li>
<li>117 New Mall Items</li>
    <ul>
    <li>60 new women's items including 3 faces, 15 hairs, 8 tops, 10 bottoms, 16 shoes, and 8 sets.</li>
    <li>46 new men's items including 3 faces, 10 hairs, 11 tops, 11 bottoms, and 11 shoes.</li>
    <li>3 new items.</li>
    <li>1 new DJ booth.</li>
    <li>2 new emoticon bubbles.</li>
    <li>4 new accessories.</li>
    <li>1 new guitar.</li>
    </ul>
<li>15 New Couple Shop Items</li>
    <ul>
    <li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
    <li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
    <li>3 new accessories.</li>
    <li>2 new rings.</li>
    <li>2 new couple licenses.</li>
    </ul>
<li>21 New Couple Garden Market Items</li>
    <ul>
    <li>2 new seeds.</li>
    <li>19 new accessories.</li>
    </ul>
</ol>