<b>Version:</b> 10206<br>
<ol>
    <li>BGM Master
        <ul>
            <li>Master songs in CC4 and CC8 to earn bonus EXP & Beats and rare items.</li>
            <li>Each month, 100 songs are selected for BGM Master. These songs have an "M" next to them in the song list.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bgm_m.jpg" /></li>
            <li>To have your score recorded for BGM Master, you must play either CC4 or CC8, with chance and insane OFF, with at least one other person.</li>
            <li>The top placer's score in CC4 and CC8 will appear while playing. This can be turned off by setting the "Show User Master Score" option to Off at the top of the song list.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bgm_score.jpg" /></li>
            <li>At the end of the month, the person who has mastered the most songs with the highest scores will receive a special platform for 1 month.</li>
            <li>BGM Master rankings are updated from 12:50 am until 1:00 am, server time. During this time, scores will not be recorded.</li>
            <li>Can't beat the pros with the highest scores? Don't worry; you also get rewarded just for participating!
                <ul>
                    <li>Each time you play a BGM Master song in CC4 or CC8, you earn 20% in that song's master gauge. Reach 100% (play the song 5 times) to master the song!</li>
                    <li>You can see the mastery gauge for each song in the BGM Master tab of the song list.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bgm_gauge.jpg" /></li>
                    <li>The number of songs you master determines the reward you get.
                        <ul>
                            <li>Master 10 songs = 10% more EXP & Beats bonus for those songs</li>
                            <li>Master 20 songs = 10% more EXP & Beats bonus for those songs + Yellow Hand Tail item (7 days)</li>
                            <li>Master 40 Songs = 20% more EXP & Beats bonus for those songs</li>
                            <li>Master 60 Songs = 30% more EXP & Beats bonus for those songs + Orange Hand Tail item (7 days)</li>
                            <li>Master 80 Songs = 40% more EXP & Beats bonus for those songs</li>
                            <li>Master 100 Songs = 50% more EXP & Beats bonus for those songs + Special Guitar (7 days)</li>
                        </ul>
                    </li>
                    <li>The Hand Tail items are only awarded once, the first time you master the respective number of songs.</li>
                    <li>After you master a song, the gauge will say Master (<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bgm_masteron.png" style="vertical-align:middle;" />). This means that you can play to get the EXP/Beats bonus for that song.</li>
                    <li>You can get the EXP/Beats bonus for each song that you've mastered once per day. The bonus is available in any mode in which the song is available. The gauge turns grey once you've gotten your bonus for today (<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bgm_masteroff.png" style="vertical-align:middle;" />).</li>
                    <li>This icon will appear after a game to indicate that you received your bonus from BGM Master:<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bgm_res.png" /></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>New Song
        <ul>
            <li>DJ Pho - Christmas Breakz (132 bpm)</li>
        </ul>
    </li>
    <li>New Night Dance Song
        <ul>
            <li>DJ Pho - Christmas Breakz (132 bpm)</li>
        </ul>
    </li>
    <li>New Beat Up Song
        <ul>
            <li>DJ Pho - Christmas Breakz (132 bpm) [Lv. 2]</li>
        </ul>
    </li>
    <li>New One Two Party Song
        <ul>
            <li>DJ Pho - Christmas Breakz (132 bpm) [Lv. 4]</li>
        </ul>
    </li>
    <li>190 New Fashion Mall Items
        <ul>
        <li>111 new women's items including 3 faces, 29 hairs, 21 tops, 21 bottoms, 29 shoes, and 8 sets.</li>
        <li>75 new men's items including 3 faces, 18 hairs, 18 tops, 18 bottoms, and 18 shoes.</li>
        <li>1 new DJ booth.</li>
        <li>2 new accessories.</li>
        <li>1 new guitar (beats).</li>
        </ul>
    </li>
    <li>14 New Couple Shop Items
        <ul>
        <li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
        <li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
        <li>2 new accessories.</li>
        <li>2 new rings.</li>
        <li>2 new licenses.</li>
        </ul>
    </li>
</ol>